{% extends 'headeradmin.html.twig' %}

{% block title %}Édition d'un produit{% endblock %}

{% block body %}
<br>
<div class="container nature-card">
    <br>
    <h3> Editer un produit </h3>
    <form action="{{ path('admin_form_edit', {'id': product.id}) }}" method="post" enctype="multipart/form-data" class="mb-4">
        {{ form_start(productForm, {'attr': {'class': 'row g-3'}}) }}
            {{ form_row(productForm.name, {'attr': {'class': 'spaced-input'}}) }}
            {{ form_row(productForm.category, {'attr': {'class': 'spaced-input'}}) }}

            {{ form_row(productForm.quantity, {'attr': {'class': 'spaced-input'}}) }}
            {{ form_row(productForm.description, {'attr': {'class': 'spaced-input'}}) }}

        {% if productForm.images.vars.value %}
            <div class="col-md-6">
                {{ form_row(productForm.images, {'attr': {'class': 'form-control', 'onchange': 'previewImage(this)'}}) }}
            </div>
        {% endif %}
            {{ form_row(productForm.images, {'attr': {'class': 'spaced-input'}}) }}
            {{ form_row(productForm.price, {'attr': {'class': 'spaced-input'}}) }}
            <button type="submit" class="btn btn-details">Enregistrer</button>
        {{ form_end(productForm) }}
    </form>
    <br>
</div>
<script>
    function previewImage(input) {
        var reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById('current-image').src = e.target.result;
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>
{% endblock %}