{% extends 'headeradmin.html.twig' %}

{% block title %}Promo{% endblock %}

{% block body %}
<style>

.promo-admin-detail-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.promo-admin-detail-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
}

.promo-admin-detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.promo-admin-detail-table th,
.promo-admin-detail-table td {
    padding: 15px;
    text-align: left;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

.promo-admin-detail-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

</style>

<div class="promo-admin-detail-container">
<h3> Détail du promo</h3>
    <table class="promo-admin-detail-table">
        <tbody>
            <tr>
                <th>Reduction</th>
                <td>{{ promo.reduction }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ promo.dateFin ? promo.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{{ promo.dateDebut ? promo.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ promo.description }}</td>
            </tr>
        </tbody>
    </table>
    <ul style="list-style-type: none; padding: 0; margin: 0; display: flex; gap: 10px;">
        <li>
            <a href="{{ path('app_promo_admin_index') }}" class="btn btn-details">< Retour</a>
        </li>
        <li>
            <a href="{{ path('app_promo_admin_edit', {'id': promo.id}) }}" class="btn btn-details">Modifier</a>
        </li>
        <li>
            <form method="post" action="{{ path('app_promo_admin_delete', {'id': promo.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir enlever la réduction?');" style="display: inline;">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ promo.id) }}">
                <button class="btn btn-details">Supprimer</button>
            </form>
        </li>
    </ul>

</div>
{% endblock %}
