{% extends 'headeruser.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<br><br><br>

<div class="container nature-theme">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h1 class="mt-4 mb-4">Votre Panier</h1>
            <br>
            {% for panierDetail in panierDetails %}
                <div class="row mb-4  row-with-margin-bottom">
                    <div class="col-md-3">
                        {% if panierDetail['images'] is defined and panierDetail['images'] is not null %}
                            <img src="{{ asset('images/' ~ panierDetail['images']) }}" alt="image" class="img-fluid card-img">
                        {% else %}
                            <p>image pas trouvé</p>
                        {% endif %}
                    </div>
                    <div class="col-md-9 card-details">
                        <div>
                            {% if panierDetail['promo'] is not null %}
                                <p> {{ panierDetail['name'] }} </p>
                                <h5>{{ panierDetail['promo'].getDescription() ?? 'Trouve pas de description' }}</h5>
                                <p>Promotion</p>
                            {% else %}
                                <h5>{{ panierDetail['name'] ?? 'Trouve pas de name' }}</h5>
                                <p>{{ panierDetail['description'] ?? 'Trouve pas de description' }}</p>
                                <p>{{ panierDetail['category'] ?? 'Trouve pas de category' }}</p>
                            {% endif %}
                        </div>
                        <div class="card-price">
                            {% if panierDetail['promo'] is not null %}
                                <p style="color: red">Prix après réduction: {{ panierDetail['price'] }} €/u</p>
                                <p  style="color: red">-{{ panierDetail['reduction'] }} %</p>
                            {% endif %}
                        </div>

                        <div class="right-align">
                            <form method="POST" action="{{ path('remove_from_cart') }}" class="delete-form">
                                <input type="hidden" name="panierId" value="{{ panierDetail['id'] }}">
                                <a href="#" class="delete-link" onclick="this.parentNode.submit(); return false;">Supprimer</a>
                            </form>
                            <form method="POST" action="{{ path('update_quantity') }}" class="quantity-form">
                                <input type="hidden" name="panierId" value="{{ panierDetail['id'] }}">
                                    <div class="card-actions">
                                        <button type="submit" name="action" value="add" class="btn btn-primary btn-sm quantity-btn add">+</button>
                                        <p class="quantity-text">Quantité: {{ panierDetail['quantity'] ?? 'No quantity available' }}</p>
                                        <button type="submit" name="action" value="subtract" class="btn btn-primary btn-sm quantity-btn subtract">-</button>
                                    </div>
                            </form>
                            <p>Sous-total: {{ panierDetail['subtotal'] ?? 'No subtotal available' }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="justify-content-end mb-4" style="text-align: end;">
                <div class="col">
                    <p>Nombre d'articles: {{ panierDetails|length }}</p>
                </div>
                <div class="col-lg-2">
                    <h3>Prix total: {{ prixTotalPanier }} €</h3>
                    <button type="button" class="btn btn-details">Valider mon panier</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br><br>
{% endblock %}
