{% extends 'header.html.twig' %}

{% block body %}
    <br><br>
    <div class="container nature">
        <div class="row">
            {% if product is defined %}
                <div class="col-md-6">
                    <div class="border nature-card">
                        <img src="{{ asset('images/' ~ product.images) }}" class="img-fluid product-image image-transition" alt="Image du produit">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-details nature-card">
                        <h2 class="card-title">{{ product.name }}</h2>
                        <p>Prix: {{ product.price }} €</p>
                        <p>Quantité disponible: {{ product.quantity }}</p>
                        <p>Description:</p>
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            {% elseif promo is defined %}
                <div class="col-md-6">
                    <div class="border nature-card">
                        <img src="{{ asset('images/' ~ promo.images) }}" class="img-fluid promo-image image-transition" alt="Image de la promotion">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="promo-details nature-card">
                        <h2 class="card-title">{{ promo.name }}</h2>
                        <p>Réduction: {{ promo.reduction }}%</p>
                        <p>Date de début: {{ promo.dateDebut|date('d/m/Y') }}</p>
                        <p>Date de fin: {{ promo.dateFin|date('d/m/Y') }}</p>
                        <p>Prix après promotion: {{ promo.priceafterpromo }} €</p>
                        <p>Description:</p>
                        <p>{{ promo.description }}</p>
                    </div>
                </div>
            {% endif %}
            <a href="/" class="btn btn-details">< Retour</a>
        </div>
    </div>

    <script>
        $('.image-transition').hover(function() {
            $(this).toggleClass('scale-up'); 
        });
    </script>
{% endblock %}
