{% extends 'headeruser.html.twig' %}

{% block body %}


<br>
<div class="row justify-content-center">
    {% for product in products %}
    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card h-100 product-card">
            <img src="{{ asset('images/' ~ product.images) }}" alt="images" class="card-img-top product-image">
            <div class="card-body product-details">
                <h3 class="card-title">{{ product.name }}</h3>
                {% set aUnePromotion = false %}
                {% for promo in promotions %}
                    {% if promo.idproduct.id == product.id %}
                        {% set aUnePromotion = true %}
                        {% set aujourdhui = 'now'|date('Y-m-d') %}
                        {% set joursRest = (promo.dateFin|date('U') - aujourdhui|date('U')) / (24 * 3600) %}
                        {% if joursRest > 0 %}
                            <p class="promo-description">Jour(s) restant(s): {{ joursRest|round(0, 'floor') }}</p>
                        {% else %}
                            <p class="promo-description">Offre expirée</p>
                        {% endif %}
                        <p class="btn-reduction">- {{ promo.reduction }} %</p>
                        <p class="font-size-80">A partir de :</p>
                        <p class="product-price original-price">{{ product.price }} €</p>
                        <p class="product-price remise-price text-danger">{{ promo.getPriceafterpromo }} €</p>
                    {% endif %}
                {% endfor %}
                {% if not aUnePromotion %}
                    <p class="product-price">{{ product.price }} €</p>
                {% endif %}
                <p>{{ product.description }}</p>
                <p class="card-text">Quantité disponible: {{ product.quantity }}</p>
            </div>
            <div class="product-footer">
                {% if product.quantity > 0 %}
                <form id="panierForm" action="{{ path('add_dans_panier', {'id': product.id}) }}" method="post">
                    <div class="form-group">
                        <label for="quantity">Quantité :</label>
                        <select name="quantity" id="quantity" class="form-control custom-select">
                            {% for qty in 1..product.quantity %}
                                <option value="{{ qty + 1}}">{{ qty + 1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>
                    <div class="d-flex justify-content-between">
                        <a href="{{ path('details_produit_user', {'id': product.id}) }}" class="btn btn-details" style="margin-top:0px !important;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1z"/>
                            </svg>
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5"/>
                            </svg>
                        </button>
                    </div>
                </form>
                {% else %}
                    <p>Rupture de stock</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
