{% extends 'headeruser.html.twig' %}

{% block body %}

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card nature-card">
        <div class="card-body">
          <h1 class="card-title mb-3">Profil utilisateur</h1>
          <form action="{{ path('edit_user_profile') }}" method="post">
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="form-group">
              <label for="name">Nom :</label>
              <input type="text" class="form-control" id="name" name="name" value="{{ user.name }}">
            </div>
            <div class="form-group">
              <label for="adresse">Adresse :</label>
              <input type="text" class="form-control" id="adresse" name="adresse" value="{{ user.adresse }}">
            </div>
            <div class="form-group">
              <label for="civilite">Civilité :</label>
              <select class="form-control" id="civilite" name="civilite">
                <option value="M." {% if user.civilite == 'M.' %} selected {% endif %}>M.</option>
                <option value="Mme." {% if user.civilite == 'Mme.' %} selected {% endif %}>Mme.</option>
                <option value="Autre" {% if user.civilite == 'Autre' %} selected {% endif %}>Autre</option>
              </select>
            </div>
            <div class="row">
              <div class="col">
            <button type="submit" class="btn btn-details" style="font-size:15px">Enregistrer les modifications</button>        

              </div>
            
          </form>
                        <div class="col">
          <form action="{{ path('delete_user_account') }}" method="post">
            <button type="submit" class="btn btn-details" style="background-color:red" onclick="return confirm('Voulez-vous vraiment supprimer votre compte ?')">Supprimer mon compte</button>        
          </form>
              </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
