{% extends 'headeradmin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<style>
    .container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        border-radius: 2%;
        border-color:#000;
        margin-top:3%;
    }
    .container h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .btn-group .btn {
        margin-right: 10px;
    }
    .btn-group form {
        display: inline-block;
    }
    .container input[type=text],
    .container input[type=date],
    .container textarea,
    .container select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .container select {
        background-color: #f8f8f8;
    }
    .promo-admin-detail-btn-back {
        background-color: #0056b3;
        color: #fff;
        text-decoration: none;
        padding: 10px 10px;
        border-radius: 4px;
        transition: background-color 0.3s ease, transform 0.3s ease;
        margin-right: 5px;
        display: inline-block;
        width: 80%;
        height: fit-content;
        margin-top: 2%;
    }
    .promo-admin-detail-btn-back:hover {
        background-color: #fff;
        color: #0056b3;
    }

</style>

<div class="container">
    <h1>Editer l'utilisateur</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(form.roles) }}
        {{ form_widget(form.roles) }}
    </div>
    <div class="form-group">
        {{ form_label(form.date_create) }}
        {{ form_widget(form.date_create) }}
    </div>
    <div class="form-group">
        {{ form_label(form.deletedAt) }}
        {{ form_widget(form.deletedAt) }}
    </div>
    <div class="form-group">
        {{ form_label(form.expiredAt) }}
        {{ form_widget(form.expiredAt) }}
    </div>
<div class="btn-group" role="group" aria-label="Buttons">
    <a href="{{ path('app_gestion_user_index') }}" class="btn btn-details me-2" style="text-align:center;">< Retour</a>

    <button class="btn btn-details me-2">{{ button_label|default('Update') }}</button>
    {{ form_end(form) }}


    <form method="post" action="{{ path('app_gestion_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button class="btn btn-details">Delete</button>
    </form>
</div>

</div>
{% endblock %}
