{% extends 'headeradmin.html.twig' %}

{% block title %}Edit LoyaltyCard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            border-radius: 2%;
            border-color:#000;
            margin-top:3%;
        }
        .container h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .btn-group .btn {
            margin-right: 10px;
        }
        .btn-group form {
            display: inline-block;
        }
        .container input[type=text],
        .container input[type=date],
        .container textarea,
        .container select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .container select {
            background-color: #f8f8f8;
        }
        .promo-admin-detail-btn-back {
            background-color: #0056b3;
            color: #fff;
            text-decoration: none;
            padding: 10px 10px;
            border-radius: 4px;
            transition: background-color 0.3s ease, transform 0.3s ease;
            margin-right: 5px;
            display: inline-block;
            width: 80%;
            height: fit-content;
            margin-top: 2%;
        }
        .promo-admin-detail-btn-back:hover {
            background-color: #fff;
            color: #0056b3;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier une carte de fidélité</h1>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form) }}
        </div>
        <a href="{{ path('app_loyalty_card_index') }}" class="btn btn-details">< Retour</a>

        <button class="btn btn-details">Editer la carte</button>

        <form method="post" action="{{ path('app_loyalty_card_delete', {'id': loyalty_card.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ loyalty_card.id) }}">
            <button class="btn btn-details">Supprimer la carte</button>
        </form>
        {{ form_end(form) }}
    </div>
{% endblock %}
