{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Our Service</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
        }
        .header {
            background-color: #4CAF50;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        .content {
            margin: 20px 0;
        }
        .footer {
            text-align: center;
            padding: 10px 0;
            color: #777;
            border-top: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>{{ contact.subject }}</h1>
        </div>
        <div class="content">
            <p>Message de l'utilisateur : {{ user.civilite }} {{ user.name }}             
            <ul>
                <li><strong>Email:</strong> {{ user.email }}</li>
                <li><strong>Address:</strong> {{ user.adresse }}</li>
            </ul>
            <p>{{contact.object}}</p>
        </div>
        <div class="footer">
            <p>&copy; 2024 VitalityMarket. All rights reserved.</p>
        </div>
    </div>
</body>
</html>

{% endblock %}